extends layout

block content
  h1#twitter-feed
    a.headeranchor-link(name='user-content-twitter-feed', href='#twitter-feed', aria-hidden='true')
      span.headeranchor
  table
    thead Data Bots
    tbody
      tr
        th Current Data
      tr
        td
          div(id="current_data_bot")
            h5 Collection
            input(id="collection", type="text", name="collection", value="#{collection}")
            h5 Query
            input(id="query", type="text", name="query", value="#{query}")
            button(id="current_data_bot_button") Submit
          script.
            $(document).ready(function () {
              $("#current_data_bot_button").click(function () {
                var form = $("#current_data_bot input");
                console.log(form);
                var d = {};
                d["collectionName"] = $("#collection").attr('value');
                d["query"] = $("#query").attr('value');
                $.ajax({
                  url: '/current_timer.json',
                  type: 'post',
                  data: d,
                  success: function (data) {
                    console.log(data);
                    if (JSON.parse(data["running"])) {
                      $("#current_data_bot").css('background','#00DD00');
                    } else {
                      $("#current_data_bot").css('background','#DD0000');
                    }
                  }
                });
              });
            });
