doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
    script(type='text/javascript', src='/vendor/jquery.js')
    script(type='text/javascript', src='/vendor/jquery-waiting.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    link(rel="stylesheet", href='/stylesheets/style.css')
  body
    block content