extends layout
  #layout
    a#menuLink.menu-link(href='#menu')
      span
    #menu
      .pure-menu.pure-menu-open
        a.pure-menu-heading(href='#') Andrew
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li.menu-item-divided.pure-menu-selected
            a(href='#') Services
          li
            a(href='#') Contact