extends layout

block content

  div(id="preview")
  textarea(id="text-input", oninput="this.editor.update()", rows="200", cols="100")
    = markdown_text
  script(src = "vendor/markdown.js")
  script.
    $(document).ready(function(){
        function Editor(input, preview) {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
      }
      var $ = function (id) { return document.getElementById(id); };
      new Editor($("text-input"), $("preview"));
    });
  button(id="#editMarkdown")
  script.
    $(document).read(function() {
      $('#editMarkdown').click(function () {
        //- $.ajax({
        //-   url: '/blog/edit/' + sessionStorage.get(,

        //- })
      });
    });